<h1>Import Yahoo Projections:</h1>

<%= form_tag yahoo_proj_import_path, multipart: true do %>
  <%= file_field_tag :file %><br>
  <%= submit_tag "Import CSV" %>
<% end %>

<br>
<br>

<h1>Import FFA Projections:</h1>

<%= form_tag fantasyanalytics_proj_import_path, multipart: true do %>
  <%= file_field_tag :file %><br>
  <%= submit_tag "Import CSV" %>
<% end %>

<br>
<br>

<h1>Import Roto Projections:</h1>

<%= form_tag rotoworld_proj_import_path, multipart: true do %>
  <%= file_field_tag :file %><br>
  <%= submit_tag "Import CSV" %>
<% end %>

<br>
<br>

<h1>Import Fantasy Pros Projections:</h1>

<%= form_tag fantasypros_proj_import_path, multipart: true do %>
  <%= file_field_tag :file %><br>
  <%= submit_tag "Import CSV" %>
<% end %>

<br>
<br>

<hr>

<h1>Import Ownership Projections:</h1>

<%= form_tag ownership_import_path, multipart: true do %>
  <%= file_field_tag :file %><br>
  <%= submit_tag "Import CSV" %>
<% end %>