  <div id='csv_links'>
    <%=link_to 'download ave projections', csv_output_path  + ".csv"%><br>
    <%=link_to 'download ceiling projections', ceil_output_path  + ".csv"%><br>
    <%=link_to 'download floor projections', floor_output_path  + ".csv"%><br>
  </div>  

  <table>
    <tr>
      <th align="left">Name</th>
      <th align="left">Position</th>
      <th align="left">Team v Opponent</th>
      <th align="left">Ave Points</th> 
      <th align="left">Salary</th>
      <th align="left">CPP</th>
      <th align="left">Ceiling</th>
      <th align="left">Floor</th>
      <th align="left">Ownership</th>
    </tr>
    <tr>
      <td class='benchmark'>Ave QB</td>
      <td class='benchmark'>QB</td>
      <td class='benchmark'>all</td>
      <td class='benchmark'><%='%.2f' % (@ave_qb[:points]) %></td> 
      <td class='benchmark'><%=@ave_qb[:salary]%></td>
      <td class='benchmark'><%='%.2f' % (@ave_qb[:value])%></td>
      <td class='benchmark'><%='%.2f' % @ave_qb[:ceiling]%></td>
      <td class='benchmark'><%='%.2f' % @ave_qb[:floor]%></td>
    </tr>
    <tr>
      <td class='benchmark'>Top 10 QB</td>
      <td class='benchmark'>QB</td>
      <td class='benchmark'>all</td>
      <td class='benchmark'><%='%.2f' % (@top_10_qb[:points]) %></td> 
      <td class='benchmark'><%=@top_10_qb[:salary]%></td>
      <td class='benchmark'><%='%.2f' % (@top_10_qb[:value])%></td>
      <td class='benchmark'><%='%.2f' % @top_10_qb[:ceiling]%></td>
      <td class='benchmark'><%='%.2f' % @top_10_qb[:floor]%></td>
    </tr>
    <% @qbs.each do |p| %>
      <tr>
        <td><%=p.name%></td>
        <td><%=p.position%></td>
        <td><%=p.team%> v. <%=p.opponent%></td>
        <td><%='%.2f' % (Player.average_points(p.projected_points)) unless p.projected_points.length == 0 %></td> 
        <td><%=p.salary%></td>
        <td><%='%.2f' % (p.player_value)%></td>
        <td><%=p.projected_points.max%></td>
        <td><%=p.projected_points.min%></td>
        <td><%=p.ownership%></td>
      </tr>
    <% end %>
  </table>

<br>
<hr>
<br>

  <table>
    <tr>
      <th align="left">Name</th>
      <th align="left">Position</th>
      <th align="left">Team</th>
      <th align="left">Ave Points</th> 
      <th align="left">Salary</th>
      <th align="left">CPP</th>
      <th align="left">Ceiling</th>
      <th align="left">Floor</th>
      <th align="left">Ownership</th>
    </tr>
    <tr>
      <td class='benchmark'>Ave WR</td>
      <td class='benchmark'>WR</td>
      <td class='benchmark'>all</td>
      <td class='benchmark'><%='%.2f' % (@ave_wr[:points]) %></td> 
      <td class='benchmark'><%=@ave_wr[:salary]%></td>
      <td class='benchmark'><%='%.2f' % (@ave_wr[:value])%></td>
      <td class='benchmark'><%='%.2f' % @ave_wr[:ceiling]%></td>
      <td class='benchmark'><%='%.2f' % @ave_wr[:floor]%></td>
    </tr>
    <tr>
      <td class='benchmark'>Top 10 WR</td>
      <td class='benchmark'>WR</td>
      <td class='benchmark'>all</td>
      <td class='benchmark'><%='%.2f' % (@top_10_wr[:points]) %></td> 
      <td class='benchmark'><%=@top_10_wr[:salary]%></td>
      <td class='benchmark'><%='%.2f' % (@top_10_wr[:value])%></td>
      <td class='benchmark'><%='%.2f' % @top_10_wr[:ceiling]%></td>
      <td class='benchmark'><%='%.2f' % @top_10_wr[:floor]%></td>
    </tr>
    <% @wrs.each do |p| %>
      <tr>
        <td><%=p.name%></td>
        <td><%=p.position%></td>
        <td><%=p.team%> v. <%=p.opponent%></td>
        <td><%='%.2f' % (p.projected_points.reduce(0, :+)/p.projected_points.length) unless p.projected_points.length == 0 %></td>
        <td><%=p.salary%></td>
        <td><%='%.2f' % (p.player_value)%></td>
        <td><%=p.projected_points.max%></td>
        <td><%=p.projected_points.min%></td>
      </tr>
    <% end %>
  </table>
  
<br>
<hr>
<br>

  <table>
    <tr>
      <th align="left">Name</th>
      <th align="left">Position</th>
      <th align="left">Team</th>
      <th align="left">Ave Points</th> 
      <th align="left">Salary</th>
      <th align="left">CPP</th>
      <th align="left">Ceiling</th>
      <th align="left">Floor</th>
      <th align="left">Ownership</th>
    </tr>
    <tr>
      <td class='benchmark'>Ave RB</td>
      <td class='benchmark'>RB</td>
      <td class='benchmark'>all</td>
      <td class='benchmark'><%='%.2f' % (@ave_rb[:points]) %></td> 
      <td class='benchmark'><%=@ave_rb[:salary]%></td>
      <td class='benchmark'><%='%.2f' % (@ave_rb[:value])%></td>
      <td class='benchmark'><%='%.2f' % @ave_rb[:ceiling]%></td>
      <td class='benchmark'><%='%.2f' % @ave_rb[:floor]%></td>
    </tr>
    <tr>
      <td class='benchmark'>Top 10 RB</td>
      <td class='benchmark'>RB</td>
      <td class='benchmark'>all</td>
      <td class='benchmark'><%='%.2f' % (@top_10_rb[:points]) %></td> 
      <td class='benchmark'><%=@top_10_rb[:salary]%></td>
      <td class='benchmark'><%='%.2f' % (@top_10_rb[:value])%></td>
      <td class='benchmark'><%='%.2f' % @top_10_rb[:ceiling]%></td>
      <td class='benchmark'><%='%.2f' % @top_10_rb[:floor]%></td>
    </tr>
    <% @rbs.each do |p| %>
      <tr>
        <td><%=p.name%></td>
        <td><%=p.position%></td>
        <td><%=p.team%> v. <%=p.opponent%></td>
        <td><%='%.2f' % (p.projected_points.reduce(0, :+)/p.projected_points.length) unless p.projected_points.length == 0 %></td>
        <td><%=p.salary%></td>
        <td><%='%.2f' % (p.player_value)%></td>
        <td><%=p.projected_points.max%></td>
        <td><%=p.projected_points.min%></td>
        <td><%=p.ownership%></td>
      </tr>
    <% end %>
  </table>
  
<br>
<hr>
<br>

  <table>
    <tr>
      <th align="left">Name</th>
      <th align="left">Position</th>
      <th align="left">Team</th>
      <th align="left">Ave Points</th> 
      <th align="left">Salary</th>
      <th align="left">CPP</th>
      <th align="left">Ceiling</th>
      <th align="left">Floor</th>
      <th align="left">Ownership</th>
    </tr>
    <tr>
      <td class='benchmark'>Ave TE</td>
      <td class='benchmark'>TE</td>
      <td class='benchmark'>all</td>
      <td class='benchmark'><%='%.2f' % (@ave_te[:points]) %></td> 
      <td class='benchmark'><%=@ave_te[:salary]%></td>
      <td class='benchmark'><%='%.2f' % (@ave_te[:value])%></td>
      <td class='benchmark'><%='%.2f' % @ave_te[:ceiling]%></td>
      <td class='benchmark'><%='%.2f' % @ave_te[:floor]%></td>
    </tr>
    <tr>
      <td class='benchmark'>Top 10 TE</td>
      <td class='benchmark'>TE</td>
      <td class='benchmark'>all</td>
      <td class='benchmark'><%='%.2f' % (@top_10_te[:points]) %></td> 
      <td class='benchmark'><%=@top_10_te[:salary]%></td>
      <td class='benchmark'><%='%.2f' % (@top_10_te[:value])%></td>
      <td class='benchmark'><%='%.2f' % @top_10_te[:ceiling]%></td>
      <td class='benchmark'><%='%.2f' % @top_10_te[:floor]%></td>
    </tr>
    <% @tes.each do |p| %>
      <tr>
        <td><%=p.name%></td>
        <td><%=p.position%></td>
        <td><%=p.team%> v. <%=p.opponent%></td>
        <td><%='%.2f' % (p.projected_points.reduce(0, :+)/p.projected_points.length) unless p.projected_points.length == 0 %></td> 
        <td><%=p.salary%></td>
        <td><%='%.2f' % (p.player_value)%></td>
        <td><%=p.projected_points.max%></td>
        <td><%=p.projected_points.min%></td>
        <td><%=p.ownership%></td>
      </tr>
    <% end %>
  </table>
  
<br>
<hr>
<br>

  <table>
    <tr>
      <th align="left">Name</th>
      <th align="left">Position</th>
      <th align="left">Team</th>
      <th align="left">Ave Points</th> 
      <th align="left">Salary</th>
      <th align="left">CPP</th>
      <th align="left">Ceiling</th>
      <th align="left">Floor</th>
      <th align="left">Ownership</th>
    </tr>
    <tr>
      <td class='benchmark'>Ave DEF</td>
      <td class='benchmark'>DEF</td>
      <td class='benchmark'>all</td>
      <td class='benchmark'><%='%.2f' % (@ave_d[:points]) %></td> 
      <td class='benchmark'><%=@ave_d[:salary]%></td>
      <td class='benchmark'><%='%.2f' % (@ave_d[:value])%></td>
      <td class='benchmark'><%='%.2f' % @ave_d[:ceiling]%></td>
      <td class='benchmark'><%='%.2f' % @ave_d[:floor]%></td>
    </tr>
    <tr>
      <td class='benchmark'>Top 10 DEF</td>
      <td class='benchmark'>DEF</td>
      <td class='benchmark'>all</td>
      <td class='benchmark'><%='%.2f' % (@top_10_d[:points]) %></td> 
      <td class='benchmark'><%=@top_10_d[:salary]%></td>
      <td class='benchmark'><%='%.2f' % (@top_10_d[:value])%></td>
      <td class='benchmark'><%='%.2f' % @top_10_d[:ceiling]%></td>
      <td class='benchmark'><%='%.2f' % @top_10_d[:floor]%></td>
    </tr>
    <% @ds.each do |p| %>
      <tr>
        <td><%=p.name%></td>
        <td><%=p.position%></td>
        <td><%=p.team%> v. <%=p.opponent%></td>
        <td><%='%.2f' % (p.projected_points.reduce(0, :+)/p.projected_points.length) unless p.projected_points.length == 0 %></td>
        <td><%=p.salary%></td>
        <td><%='%.2f' % (p.player_value)%></td>
        <td><%=p.projected_points.max%></td>
        <td><%=p.projected_points.min%></td>
        <td><%=p.ownership%></td>
      </tr>
    <% end %>
  </table>
  
<br>
<hr>
<br>

  <table>
    <tr>
      <th align="left">Name</th>
      <th align="left">Position</th>
      <th align="left">Team</th>
      <th align="left">Ave Points</th> 
      <th align="left">Salary</th>
      <th align="left">CPP</th>
      <th align="left">Ceiling</th>
      <th align="left">Floor</th>
      <th align="left">Ownership</th>
    </tr>
    <tr>
      <td class='benchmark'>Ave K</td>
      <td class='benchmark'>K</td>
      <td class='benchmark'>all</td>
      <td class='benchmark'><%='%.2f' % (@ave_k[:points]) %></td> 
      <td class='benchmark'><%=@ave_k[:salary]%></td>
      <td class='benchmark'><%='%.2f' % (@ave_k[:value])%></td>
      <td class='benchmark'><%='%.2f' % @ave_k[:ceiling]%></td>
      <td class='benchmark'><%='%.2f' % @ave_k[:floor]%></td>
    </tr>
    <tr>
      <td class='benchmark'>Top 10 K</td>
      <td class='benchmark'>K</td>
      <td class='benchmark'>all</td>
      <td class='benchmark'><%='%.2f' % (@top_10_k[:points]) %></td> 
      <td class='benchmark'><%=@top_10_k[:salary]%></td>
      <td class='benchmark'><%='%.2f' % (@top_10_k[:value])%></td>
      <td class='benchmark'><%='%.2f' % @top_10_k[:ceiling]%></td>
      <td class='benchmark'><%='%.2f' % @top_10_k[:floor]%></td>
    </tr>
    <% @ks.each do |p| %>
      <tr>
        <td><%=p.name%></td>
        <td><%=p.position%></td>
        <td><%=p.team%> v. <%=p.opponent%></td>
        <td><%='%.2f' % (p.projected_points.reduce(0, :+)/p.projected_points.length) unless p.projected_points.length == 0 %></td>
        <td><%=p.salary%></td>
        <td><%='%.2f' % (p.player_value)%></td>
        <td><%=p.projected_points.max%></td>
        <td><%=p.projected_points.min%></td>
        <td><%=p.ownership%></td>
      </tr>
    <% end %>
  </table>