<table style="width: 100%;">
<%@counts.each do |position, players| %>
  <th><%="#{position}"%></th>
  <td>
    <h5>
      <%players.each do |player, top5count|%>
        <%= player%> - <%=top5count%><br>
      <%end%>
    </h5>
  </td>
<%end%>
</table>
<br>


<%@top_5s_details.each do |pos, top5_cats|%>
  <h3><%=pos%></h3>
  <table>
    <%top5_cats.each do |cat, players|%>
      <th style='text-align: left;'><%=cat%></th>
        <tr>
          <%players.each do |p|%>
            <td><%=p%></td>
          <%end%>
        </tr>
    <%end%>
  </table>
<%end%>
